name: Bot tests
on:
  issue_comment:
    types: [created]

jobs:
  bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Bot actions
        uses: zymap/bot@master
        env:
          GITHUB_TOKEN: ${{ secrets.GO_CLIENT_BOT_TOKEN }}
        with:
          repo_owner: apache
          repo_name: pulsar-client-go
          rerun_cmd: rerun failure checks
          comment: ${{ github.event.comment.body }}
